@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');

$green: #27300f;
$orange: #d26a22;
$white: #fff;

$font-cormorant: 'Cormorant', serif;
$font-jost:'Jost', sans-serif;

html {
    font-size: 10px;
}
body {
    font-size: 1.6rem;
    font-family: $font-jost;
    color: $green;
    overflow-x: hidden;
}

.header {
    max-width: 1440px;
    margin: 0 auto 4.9rem;
    padding: 4rem 15px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__nav {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        gap: 7rem;
    }
    &__link {
        color: $green;
        text-decoration: none;
        &:hover {
            color: $orange;
        }
    }
    &__tel {
        color: $green;
        font-weight: 500;
        text-decoration: none;
        &:hover {
            color: $orange;
        }
    }
    &__cart {
        display: block;
        background-image: url(../images/cart.svg);
        background-repeat: no-repeat;
        background-size: 1.7rem 1.5rem;
        background-position: center center;
        background-color: $orange;
        border-radius: 100%;
        width: 4rem;
        height: 4rem;
        border: 1px solid $orange;
        position: relative;
        &:hover {
            background-color: $green;
            border: 1px solid $green;
        }
    }
    &__counter {
        font-size: .8rem;
        color: $white;
        position: absolute;
        right: .5rem;
        top: 0.5rem;
    }
}
.logo {
    display: block;
    background-image: url(..//images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 12rem;
    height: 3.2rem;
    &_footer {
        width: 17.9rem;
        height: 4.9rem;
    }
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.main {
    position: relative;
    background-image: url(../images/main.png);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    padding-bottom: 18rem;
    z-index: 0;
    &__item {
        margin-left: 12rem;
        max-width: 37.8rem;
        margin-top: 6.2rem;
    }
    &__link {
        margin-top: 5.3rem;
    }
    &__flex {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        align-items: center;
    }
    &__cover {
        flex-basis: 758px;
        height: 758px;
        border: 1px solid rgba($green, .4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    &__line {
        width: 656px;
        height: 656px;
        border: 1px solid rgba($green, .4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__image {
        width: 92%;
        box-shadow: 3rem 3rem 6rem 0.5rem rgba($green, 0.15);
        border-radius: 100%;
    }
    &__text {
        padding-top: 4rem;
    }
    &__btn {
        border: none;
        padding: 0;
        background-color: transparent;
        position: absolute;
        color: $green;
        text-align: left;
        line-height: 2.2rem;
        &:hover {
            .main__btn {
                &::before {
                    background-color: $orange;
                    box-shadow: 0 0 0 4px $white, 0 0 0 5px $orange;
                }
            }
        }
        &::before {
            content: '';
            width: 11px;
            height: 11px;
            box-shadow: 0 0 0 4px $white, 0 0 0 5px $green;
            border-radius: 100%;
            background-color: $green;
            position: absolute;
        }
        &_1 {
            top: 45px;
            left: 64px;
            &::before {
                right: -35px;
                bottom: 10px;
            }
        }
        &_2 {
            top: 194px;
            right: 2px;
            &::before {
                top: 17px;
                left: -26px;
            }
        }
        &_3 {
            bottom: -50px;
            right: 244px;
            &::before {
                top: -24px;
                left: 13px;
            }
        }
    }
    &__food {
        display: block;
        color: rgba($green, .8);
    }
    &__tomato {
        position: absolute;
        width: 11rem;
        bottom: 109px;
        right: 113px;
        z-index: -1;
    }
    &__avocado {
        position: absolute;
        width: 17.8rem;
        top: 47px;
        right: -8px;
        z-index: -1;
    }
    &__cucumber {
        position: absolute;
        width: 8.7rem;
        top: 0;
        right: 1135px;
        z-index: -1;
    }
    &__pepper {
        position: absolute;
        width: 8.6rem;
        top: 400px;
        left: 29px;
        z-index: -1;
    }
    &__bean-1 {
        position: absolute;
        width: 6.6rem;
        top: 864px;
        left: 31px;
        z-index: -1;
    }
    &__bean-2 {
        position: absolute;
        width: 4.7rem;
        top: 798px;
        left: 9px;
        z-index: -1;
    }
    &__bean-3 {
        position: absolute;
        width: 3.6rem;
        top: 811px;
        left: -9px;
        z-index: -1;
    }
}
.title {
    font-family: $font-cormorant;
    font-weight: 700;
    font-size: 8rem;
    line-height: 1;
    margin: 0;
    &__span {
        font-style: italic;
    }
    &_block {
        .title__span {
            display: block;
        }
    }
}
.description {
    margin: 0;
    line-height: 1.5;
    &_size-s {
        font-size: 1.8rem;
    }
    &_size-m {
        font-size: 2.4rem;
    }
}
.link {
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 2.4rem 4.3rem;
    letter-spacing: 0.13rem;
    border-radius: 3.8rem;
    background-color: $orange;
    box-shadow: 0px 1rem 1.1rem .2rem rgba(207, 92, 13, 0.2);
    display: inline-block;
    border: none;
    cursor: pointer;
    &:hover {
        background-color: #bf601f;
    }
    &_max {
        font-size: 1.6rem;
        padding: 2.1rem 4.9rem;
        box-shadow: 0px 1rem 1.1rem .17rem rgba(207, 92, 13, 0.15);
    }
    &_min {
        font-size: 1.4rem;
        padding: 2rem 3.4rem;
        box-shadow: 0px 1rem 1.1rem .17rem rgba(207, 92, 13, 0.15);
    }    
}
.offer {
    background-image: url(../images/offer.png);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    padding-top: 2.8rem;
    padding-bottom: 16.6rem;
    &__text {
        margin-top: 5.8rem;
        max-width: 690px;
    }
}
.slider{
    overflow: hidden;
    padding-top: 9.6rem;
}
.swiper {
    overflow: initial;
    &-pagination {
        display: none;
    }
    &-button-next, &-button-prev {
        top: -60px;
        &:hover {
            &::after {
                color: rgba($green, 1);
            }
        }
        &::after {
            color: rgba($green, .4);
            font-size: 20px;
        }
    }
    &-button-next {
        right: -8px;
    }
    &-button-prev {
        left: initial;
        right: 72px;
    }
    &-slide {
        border: 1px solid rgba($green, .4);
        border-radius: 2rem;
        padding: 3rem 3.7rem 3.8rem; 
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        z-index: 0;
        &_white {
            height: 520px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 3rem 3.9rem; 
            &:hover {
                .swiper-slide__hover {
                    height: 233px;
                    opacity: 1;
                }
                &::after {
                    content: '';
                    background-color: rgba($white, .55);
                    width: calc(100% - 4px);
                    height: calc(100% - 4px);
                    position: absolute;
                    top: 2px;
                    left: 2px;
                    border-radius: 2rem;
                    z-index: -1;
                }
            }
        }
        &:hover {
            box-shadow: 0 0 0 2px rgba($green, .4) inset;
        }
        &__title {
            font-family: $font-cormorant;
            font-size: 3rem;
            color: $green;
            margin-bottom: 0;
        }
        &__text {
            color: rgba($green, .7);
            line-height: 1.5;
            max-width: 270px;
            margin-top: 2.5rem;
            margin-bottom: 3.4rem;
        }
        &__description {
            max-width: 25rem;
            margin-top: 25px;
            min-height: 54px;
            line-height: 1.5;
        }
        &__price {
            font-size: 2.4rem;
            margin-bottom: 3.4rem;
        }
        &__hover {
            height: 0;
            opacity: 0;
        }
        &_milk {
            background-image: url(../images/milk.png);
        }
        &_pasta {
            background-image: url(../images/pasta.png);
        }
        &_steaks{
            background-image: url(../images/steaks.png);
        }
        &_fish {
            background-image: url(../images/fish.png);
        }
        &_vegetables {
            background-image: url(../images/vegetables.png);
        }
        &_fruits {
            background-image: url(../images/lemon.png);
        }
        &__link {
            text-transform: uppercase;
            text-decoration: none;
            color: $green;
            font-weight: 500;
            letter-spacing: 0.1rem;
            display: flex;
            align-items: center;
            gap: 2rem;
            opacity: .8;
            &:hover {
                opacity: 1;
            }
            &::before {
                content: '';
                display: block;
                background-image: url(../images/plus.svg);
                background-repeat: no-repeat;
                background-size: cover;
                width: 3rem;
                height: 3rem;
            }
        }
        &__cover {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 312px;
            text-align: center;
        }
        &__image {
            width: 100%;
            max-width: 351px;
            height: 100%;
            object-fit: contain;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    } 
}
.counter {
    display: flex;
    &__btn {
        cursor: pointer;
        width: 50px;
        height: 50px;
        border: 1px solid $green;
        background-color: transparent;
        padding: 0;
        background-position: center center;
        border-radius: 100%;
        &_min {
            width: 40px;
            height: 40px;
        }
    }
    &__minus {
        pointer-events: none;
        background-image: url(../images/minus-counter.svg);
        background-size: 10px 2px;
        background-repeat: no-repeat;
        opacity: .4;
    }
    &__plus {
        background-image: url(../images/plus-counter.svg);
        background-size: 14px 14px;
        background-repeat: no-repeat;
        background-position: center center;
    }
    &__input {
        text-align: center;
        font-size: 2.4rem;
        width: 48px;
        border: none;
        padding: 0;
        &_min {
            width: 33px;
        }
    }
}
.about {
    background-image: url(../images/about.png);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    padding-bottom: 19.5rem;
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 6.7rem;
    }
    &__text {
        margin-left: 11.4rem;
        max-width: 620px;
    }
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8.9rem;
        margin: 0;
        padding-left: 0;
        list-style-type: none;
        font-family: $font-cormorant;
        font-weight: 700;
        font-style: italic;
        color: $green;
        font-size: 3rem;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &::before {
            content: '';
            width: 84px;
            height: 84px;
            background-repeat: no-repeat;
            background-position: center center;
            border: 1px solid rgba($green, .4);
            border-radius: 100%;
            margin-bottom: 1.5rem;
        }
        &:nth-child(1) {
            &::before {
                background-image: url(../images/about-icon-1.svg);
                background-size: 44px 41px;
            }
        }
        &:nth-child(2) {
            &::before {
                background-image: url(../images/about-icon-2.svg);
                background-size: 40px 40px;
            }
        }
        &:nth-child(3) {
            &::before {
                background-image: url(../images/about-icon-3.svg);
                background-size: 45px 39px;
            }
        }
    }
}
.trends {
    background-image: url(../images/trends.png);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    padding-bottom: 19.1rem;
    &__text {
        padding-top: 3.9rem;
    }
}
.catalog {
    background-image: url(../images/catalog.png);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    padding-bottom: 14rem;
    &__text {
        padding-top: 3.6rem;
    }
    &__list {
        padding-top: 7rem;
    }
    &__btn {
        cursor: pointer;
        text-transform: uppercase;
        text-decoration: none;
        border: none;
        background-color: transparent;
        margin: 0 auto;
        color: $green;
        font-weight: 500;
        font-size: 1.6rem;
        letter-spacing: .1rem;
        display: flex;
        align-items: center;
        gap: 1.3rem;
        opacity: .8;
        &:hover {
            opacity: 1;
        }
        &::before {
            content: '';
            display: block;
            background-image: url(../images/refresh.svg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 2.5rem;
            height: 2.5rem;
        } 
    }
}
.catalog-grid {
    padding-bottom: 6.2rem;
}
.category {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-left: 0;
    list-style-type: none;
    &__item {
        flex-basis: 230px;
        text-align: center;
    }
    &__link {
        text-decoration: none;
        color: rgba($green, .5);
        font-size: 1.8rem;
        border: 1px solid rgba($green, .5);
        padding: 2.4rem 0;
        border-radius: 4rem;
        display: block;
        &:hover {
            border: 1px solid $orange;
            color: $orange;
        }
    }
}
.catalog-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-top: 4.6rem;
    &__item {
        border: 1px solid rgba($green, .4);
        box-sizing: border-box;
        padding: 2.7rem 3rem 3.8rem;
        border-radius: 2rem;
        &:hover {
            box-shadow: 0 0 0 2px rgba($green, .4) inset;
        }
    }
    &__cover {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 204px;
        text-align: center;
    }
    &__image {
        width: 100%;
        max-width: 351px;
        height: 100%;
        object-fit: contain;
    }
    &__title {
        font-family: $font-cormorant;
        font-size: 3rem;
        color: $green;
        margin-top: 1.7rem;
        margin-bottom: 0;
    }
    &__description {
        font-size: 1.6rem;
        color: rgba($green, .7);
        max-width: 30rem;
        margin-top: 1.8rem;
        margin-bottom: 0;
        min-height: 61px;
        line-height: 1.5;
    }
    &__price {
        font-size: 2.4rem;
        margin-bottom: 3rem;
        margin-top: 0;
    }
    &__hover {
        height: 0;
        opacity: 0;
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.delivery {
    background-image: url(../images/delivery.png);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    padding-bottom: 19.3rem;
    &__box {
        display: flex;
        gap: 12%;
        margin-top: 7.5rem;
        margin-left: 12rem;

    }
    &__left {
        max-width: 567px;
        display: flex;
        flex-direction: column;
        gap: 2.6rem;
        flex-basis: 44%;
    }
    &__link {
        color: $green;
        text-decoration: none;
        position: relative;
        &::after {
            content: '';
            width: 100%;
            height: 1px;
            background-color: #858881;
            display: block;
            position: absolute;
            left: 0;
            bottom: 3px;
        }
    }
    &__right {
        max-width: 470px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 3.6rem;
        flex-basis: 37%;
    }
    &__span {
        color: $orange;
    }
    &__list {
        display: flex;
        align-items: center;
        gap: 3.2rem;
        list-style-type: none;
        padding-left: 0;
    }
    &__item {
        cursor: pointer;
        opacity: .4;
        &:hover {
            opacity: 1;
        }
    }
    &__item:nth-child(1) {
        background-image: url(../images/mastercard.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 53px;
        height: 32px;
    }
    &__item:nth-child(2) {
        background-image: url(../images/visa.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 74px;
        height: 23px;
    }
    &__item:nth-child(3) {
        background-image: url(../images/paypal.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 87px;
        height: 24px;
    }
}
.contact {
    padding-bottom: 15.7rem;
}
.contact-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__text {
        margin-top: 6.2rem;
        padding-left: 12rem;
        max-width: 38rem;
        display: flex;
        flex-direction: column;
        gap: 4.1rem;
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-left: 0;
        list-style-type: none;
    }
    &__link {
        color: $green;
        text-decoration: none;
        font-size: 2.4rem;
        font-weight: 500;
    }
    &__list-item {
        display: flex;
        align-items: center;
        gap: 3rem;
        &::before {
            content: '';
            width: 29px;
            height: 30px;
            background-repeat: no-repeat;
            background-position: center center;
        }
        &:nth-child(1) {
            &::before {
                background-image: url(../images/phone.svg);
                background-size: 29px 25px;
            }
        }
        &:nth-child(2) {
            &::before {
                background-image: url(../images/mail.svg);
                background-size: 29px 21px;
            }
        }
    }
    &__form {
        flex-basis: 589px;
    }
}
.card {
    border: 2px solid rgba($green, .4);
    border-radius: 2rem;
    padding: 3rem 5.8rem 4rem;
    &__title {
        font-size: 3rem;
        font-family: $font-cormorant;
        font-weight: 700;
        margin-top: 0;
    }
    &__label {
        display: block;
        font-size: 1.2rem;
        margin-bottom: .9rem;
        margin-left: .6rem;
    }
    &__input {
        display: block;
        border: 1px solid rgba($green, .4);
        border-radius: 2rem;
        padding: 2.2rem 3rem;
        margin-bottom: 3.1rem;
        width: 100%;
        box-sizing: border-box;
        &:focus {
            border: 1px solid rgba($green, 1);
            outline: none;
        }
        &:invalid {
            border: 1px solid red;
        }
    }
    &__check {
        font-size: 1.2rem;
        color: rgba($green, .6);
        line-height: 1.5;
        max-width: 360px;
        margin-top: 1.6rem;
        margin-bottom: 0;
    }
    &__link {
        margin-top: .8rem;
    }
    &__docs {
        color: rgba($green, .6);
        text-decoration: none;
        border-bottom: 1px solid #cecfcc;
    }
}
.footer {
    background-image: url(../images/footer.png);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    &__box {
        display: flex;
        justify-content: space-between;
    }
    &__list {
        font-size: 1.8rem;
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 2.6rem;
    }
    &__link {
        color: $green;
        text-decoration: none;
        &:hover {
            color: $orange;
        }
    }
    &__tel {
        display: block;
        text-decoration: none;
        color: $green;
        font-size: 2.7rem;
        margin-bottom: 3.5rem;
    }
    &__text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 4rem;
        color: rgba($green, .6);
    }
    &__author {
        color: rgba($green, .6);
        text-decoration: none;
        &:hover {
            color: rgba($green, 1);
        }
    }
}
footer {
    border-top: 1px solid #d4d6cf;
    padding-top: 7.9rem;
    padding-bottom: 7rem;
}
.footer-social {
    display: flex;
    align-items: center;
    gap: 3.3rem;
    list-style-type: none;
    padding-left: 0;
    margin-top: 3.1rem;
    margin-bottom: 0;
    &__link {
        display: block;
        width: 4.6rem;
        height: 4.6rem;
        background-repeat: no-repeat;
        background-position: center center;
        border: 1px solid $green;
        border-radius: 100%;
        opacity: .8;
        &:hover {
            opacity: 1;
        }
    }
    &__vk {
        background-image: url(../images/vk.svg);
        background-size: 2.3rem;
    }
    &__inst {
        background-image: url(../images/instagram.svg);
        background-size: 1.8rem;
    }
    &__fb {
        background-image: url(../images/facebook.svg);
        background-size: 1.8rem;
    }
}



  