@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');

$green: #27300f;
$orange: #d26a22;
$white: #fff;

$font-cormorant: 'Cormorant', serif;
$font-jost:'Jost', sans-serif;

html {
    font-size: 10px;
}
body {
    font-size: 1.6rem;
    font-family: $font-jost;
    color: $green;
    overflow-x: hidden;
}

.header {
    max-width: 1440px;
    margin: 0 auto 4.9rem;
    padding: 4rem 15px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__nav {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        gap: 7rem;
    }
    &__link {
        color: $green;
        text-decoration: none;
        &:hover {
            color: $orange;
        }
    }
    &__tel {
        color: $green;
        font-weight: 500;
        text-decoration: none;
        &:hover {
            color: $orange;
        }
    }
    &__cart {
        display: block;
        background-image: url(../images/cart.svg);
        background-repeat: no-repeat;
        background-size: 1.7rem 1.5rem;
        background-position: center center;
        background-color: $orange;
        border-radius: 100%;
        width: 4rem;
        height: 4rem;
        border: 1px solid $orange;
        position: relative;
        &:hover {
            background-color: $green;
            border: 1px solid $green;
        }
    }
    &__counter {
        font-size: .8rem;
        color: $white;
        position: absolute;
        right: .5rem;
        top: 0.5rem;
    }
}
.logo {
    display: block;
    background-image: url(..//images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 12rem;
    height: 3.2rem;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.main {
    position: relative;
    background-image: url(../images/main.png);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    padding-bottom: 18rem;
    z-index: 0;
    &__item {
        margin-left: 12rem;
        max-width: 37.8rem;
        margin-top: 6.2rem;
    }
    &__link {
        margin-top: 5.3rem;
    }
    &__flex {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        align-items: center;
    }
    &__cover {
        flex-basis: 758px;
        height: 758px;
        border: 1px solid rgba($green, .4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    &__line {
        width: 656px;
        height: 656px;
        border: 1px solid rgba($green, .4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__image {
        width: 92%;
        box-shadow: 3rem 3rem 6rem 0.5rem rgba($green, 0.15);
        border-radius: 100%;
    }
    &__text {
        padding-top: 4rem;
    }
    &__btn {
        border: none;
        padding: 0;
        background-color: transparent;
        position: absolute;
        color: $green;
        text-align: left;
        line-height: 2.2rem;
        &:hover {
            .main__btn {
                &::before {
                    background-color: $orange;
                    box-shadow: 0 0 0 4px $white, 0 0 0 5px $orange;
                }
            }
        }
        &::before {
            content: '';
            width: 11px;
            height: 11px;
            box-shadow: 0 0 0 4px $white, 0 0 0 5px $green;
            border-radius: 100%;
            background-color: $green;
            position: absolute;
        }
        &_1 {
            top: 45px;
            left: 64px;
            &::before {
                right: -35px;
                bottom: 10px;
            }
        }
        &_2 {
            top: 194px;
            right: 2px;
            &::before {
                top: 17px;
                left: -26px;
            }
        }
        &_3 {
            bottom: -50px;
            right: 244px;
            &::before {
                top: -24px;
                left: 13px;
            }
        }
    }
    &__food {
        display: block;
        color: rgba($green, .8);
    }
    &__tomato {
        position: absolute;
        width: 11rem;
        bottom: 109px;
        right: 113px;
        z-index: -1;
    }
    &__avocado {
        position: absolute;
        width: 17.8rem;
        top: 47px;
        right: -8px;
        z-index: -1;
    }
    &__cucumber {
        position: absolute;
        width: 8.7rem;
        top: 0;
        right: 1135px;
        z-index: -1;
    }
    &__pepper {
        position: absolute;
        width: 8.6rem;
        top: 400px;
        left: 29px;
        z-index: -1;
    }
    &__bean-1 {
        position: absolute;
        width: 6.6rem;
        top: 864px;
        left: 31px;
        z-index: -1;
    }
    &__bean-2 {
        position: absolute;
        width: 4.7rem;
        top: 798px;
        left: 9px;
        z-index: -1;
    }
    &__bean-3 {
        position: absolute;
        width: 3.6rem;
        top: 811px;
        left: -9px;
        z-index: -1;
    }
}
.title {
    font-family: $font-cormorant;
    font-weight: 700;
    font-size: 8rem;
    line-height: 1;
    margin: 0;
    &__span {
        font-style: italic;
    }
    &_block {
        .title__span {
            display: block;
        }
    }
}
.description {
    margin: 0;
    line-height: 1.5;
    &_size-s {
        font-size: 1.8rem;
    }
    &_size-m {
        font-size: 2.4rem;
    }
}
.link {
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 2.4rem 4.3rem;
    letter-spacing: 0.13rem;
    border-radius: 3.8rem;
    background-color: $orange;
    box-shadow: 0px 1rem 1.1rem .2rem rgba(207, 92, 13, 0.2);
    display: inline-block;     
}

  